In [6]:
import pandas as pd
import warnings
from datetime import timedelta
import numpy as np
import datetime
warnings.filterwarnings("ignore")
from datetime import datetime

In [7]:
week = pd.read_csv("weekly_data_1.csv")
daily = pd.read_csv("daily_data.csv")

def tr(data):
    data['previous_close'] = data['close'].shift(1)
    data['high-low'] = abs(data['high'] - data['low'])
    data['high-pc'] = abs(data['high'] - data['previous_close'])
    data['low-pc'] = abs(data['low'] - data['previous_close'])

    tr = data[['high-low', 'high-pc', 'low-pc']].max(axis=1)

    return tr

def atr(df, period):
    df['tr'] = tr(df)
    atr = df['tr'].rolling(period).mean()
    return atr

def supertrend(df, period=10, atr_multiplier=3):
    hl2 = (df['high'] + df['low']) / 2
    df['atr'] = atr(df, period)
    df['upperband'] = hl2 + (atr_multiplier * df['atr'])
    df['lowerband'] = hl2 - (atr_multiplier * df['atr'])
    df['in_uptrend'] = True

    for current in range(1, len(df.index)):
        previous = current - 1

        if df['close'][current] > df['upperband'][previous]:
            df['in_uptrend'][current] = True
        elif df['close'][current] < df['lowerband'][previous]:
            df['in_uptrend'][current] = False
        else:
            df['in_uptrend'][current] = df['in_uptrend'][previous]

            if df['in_uptrend'][current] and df['lowerband'][current] < df['lowerband'][previous]:
                df['lowerband'][current] = df['lowerband'][previous]

            if not df['in_uptrend'][current] and df['upperband'][current] > df['upperband'][previous]:
                df['upperband'][current] = df['upperband'][previous]
        
    return df

week = supertrend(week)
#week['date'] = week['date'].astype('datetime64[ns]')
#week['date'] = week['date'].dt.date


week.to_csv("week_finally.csv", index = False)

In [8]:
# df = pd.read_csv("week_date.csv")

In [14]:
daily = supertrend(daily)

In [9]:
# df

In [13]:
week.to_csv("week_finally_1.csv", index = False)

In [10]:
week['date'][1250:1251]

1250    2020-02-10 00:00:00+05:30
Name: date, dtype: object

In [15]:
b = []
a = list(daily['date'])
for i in a:
    i = i[0:10]
    i = datetime.strptime(i, "%Y-%m-%d").date()
    b.append(i)

In [16]:
daily['date_'] = b

In [17]:
daily.to_csv("daily_finally_1.csv", index = False)

In [57]:
a = "2020-02-10 00:00:00+05:30"
#a = a[]

In [62]:
a[0:10]

'2020-02-10'

In [26]:
from dateutil import parser
s= '25 April, 2020, 2:50, pm, IST'
b = parser.parse(a)

In [30]:
b.year, b.month, b.day

(2020, 2, 10)

In [36]:
from datetime import datetime

In [50]:
a = datetime.strptime("2020-02-10", "%Y-%m-%d")

In [54]:
str(a.date())

'2020-02-10'

In [52]:
a

datetime.datetime(2020, 2, 10, 0, 0)

In [39]:
week['date'] =  pd.to_datetime(week['date'], format='%y-%m-%d %Z')

ValueError: time data '1996-02-12 00:00:00+05:30' does not match format '%y-%m-%d %Z' (match)

In [2]:


trend_set = []
in_uptrend = list(week['in_uptrend'])
date = list(week['date'])


val = 0
#_status = []
for i in range(len(in_uptrend)):
    if i == val:
        #print(date[i])
        trend_set.append(date[i])
        status = in_uptrend[i]
        #_status.append(status)
    if status != in_uptrend[i]:
        trend_set.append(date[i])
        status = in_uptrend[i]
        #_status.append(status)
        #print(date[i])
        
dict_ = {}
for i in range(0, len(trend_set),2):
    try:
        dict_[trend_set[i]] = week.iloc[week.loc[week['date'] == datetime.date(trend_set[i+1].year, trend_set[i+1].month, trend_set[i+1].day)].index[0] - 1]['date']
    except:
        dict_[trend_set[i]] = np.nan

In [4]:
dict_

{datetime.date(1996, 2, 11): datetime.date(1996, 9, 1),
 datetime.date(1997, 1, 5): datetime.date(1997, 10, 19),
 datetime.date(1998, 3, 22): datetime.date(1998, 5, 17),
 datetime.date(1999, 1, 3): datetime.date(2000, 4, 9),
 datetime.date(2001, 2, 4): datetime.date(2001, 3, 4),
 datetime.date(2001, 11, 11): datetime.date(2002, 5, 19),
 datetime.date(2002, 11, 24): datetime.date(2003, 3, 30),
 datetime.date(2003, 6, 15): datetime.date(2004, 5, 2),
 datetime.date(2004, 9, 26): datetime.date(2005, 4, 17),
 datetime.date(2005, 6, 19): datetime.date(2006, 5, 14),
 datetime.date(2006, 10, 8): datetime.date(2007, 2, 18),
 datetime.date(2007, 5, 13): datetime.date(2007, 8, 5),
 datetime.date(2007, 9, 16): datetime.date(2008, 1, 27),
 datetime.date(2009, 4, 5): datetime.date(2011, 1, 16),
 datetime.date(2012, 2, 12): datetime.date(2012, 5, 20),
 datetime.date(2012, 9, 9): datetime.date(2013, 3, 10),
 datetime.date(2013, 5, 5): datetime.date(2013, 8, 4),
 datetime.date(2013, 10, 6): datetime.date(2015, 4, 19),
 datetime.date(2016, 5, 22): datetime.date(2016, 10, 30),
 datetime.date(2017, 2, 5): datetime.date(2018, 2, 25),
 datetime.date(2018, 7, 8): datetime.date(2018, 9, 16),
 datetime.date(2019, 3, 10): datetime.date(2019, 7, 21),
 datetime.date(2019, 10, 27): datetime.date(2020, 1, 19),
 datetime.date(2020, 7, 19): nan}

In [ ]:
daily = supertrend(daily)
daily['date'] = daily['date'].astype('datetime64[ns]')
daily['date'] = daily['date'].dt.date
#daily.to_csv("daily___.csv", index = False)

daily_index_range = {}
for k,v in dict_.items():
    try:
        daily_index_range[daily.loc[daily['date'] == datetime.date(k.year, k.month, k.day)].index[0]] = daily.loc[daily['date'] == datetime.date(v.year, v.month, v.day)].index[0]
    except:
        try:
            v =  v - timedelta(days=1)
            daily_index_range[daily.loc[daily['date'] == datetime.date(k.year, k.month, k.day)].index[0]] = daily.loc[daily['date'] == datetime.date(v.year, v.month, v.day)].index[0]
        except:
            try:
                k =  k - timedelta(days=1)
                v =  v - timedelta(days=2)
                daily_index_range[daily.loc[daily['date'] == datetime.date(k.year, k.month, k.day)].index[0]] = daily.loc[daily['date'] == datetime.date(v.year, v.month, v.day)].index[0]
            except:
                k =  k - timedelta(days=2)
                daily_index_range[daily.loc[daily['date'] == datetime.date(k.year, k.month, k.day)].index[0]] = np.nan
                #print(k,v)

In [3]:
c = 1
for k,v in daily_index_range.items():
    if (c%2!=0):
        #print(k,v, "True")
        df = pd.DataFrame()
        date = daily['date'][k:v]
        close = daily['close'][k:v]
        upperband = daily['upperband'][k:v]
        in_uptrend = daily['in_uptrend'][k:v]
        #status = "True"
        
        df['date'] = date
        df['close'] = close
        df['upperband'] = upperband
        df['in_uptrend'] = in_uptrend
        df['status'] = True
        #df.to_excel("name")
        
        
        df = df.reset_index()
        del df['index']
        print(df)
#         in_uptrend = df['in_uptrend']
#         date = list(df['date'])
#         flag = df['status'][0]     
        
#         val = 0
#         trend_set = []
#         #dict_
#         for i in range(len(in_uptrend)):
#             if i==val:
#                 status = in_uptrend[i]
#                 trend_set.append(date[i])
#             if status != in_uptrend[i]:
#                 status = in_uptrend[i]
#                 trend_set.append(date[i])
                
#             dict_ = {}
#             date_entry = []
#             date_exit = []
#             price_entry = []
#             price_exit = []
#             order = []
#             for i in range(0, len(trend_set),2):
#                 if i > 0:
#                     try:
#                         dict_[trend_set[i]] = trend_set[i+1] 

#                         date_entry.append(list(daily.loc[daily['date'] == datetime.date(trend_set[i].year, trend_set[i].month, trend_set[i].day)]['date'])[0])
#                         date_exit.append(daily.iloc[daily.loc[daily['date'] == datetime.date(trend_set[i+1].year, trend_set[i+1].month, trend_set[i+1].day)].index[0] - 1]['date'])

#                         price_entry.append(list(daily.loc[daily['date'] == datetime.date(trend_set[i].year, trend_set[i].month, trend_set[i].day)]['close'])[0])
#                         price_exit.append(daily.iloc[daily.loc[daily['date'] == datetime.date(trend_set[i+1].year, trend_set[i+1].month, trend_set[i+1].day)].index[0] - 1]['close'])

#                         order.append("BUY")
#                         dict_[list(daily.loc[daily['date'] == datetime.date(trend_set[i].year, trend_set[i].month, trend_set[i].day)]['close'])[0]] = daily.iloc[daily.loc[daily['date'] == datetime.date(trend_set[i+1].year, trend_set[i+1].month, trend_set[i+1].day)].index[0] - 1]['close']
#                     except:
#                         pass          
                    
#             dff = pd.DataFrame()
#             dff['date_entry'] = date_entry
#             dff['date_exit'] = date_exit
#             dff['price_entry'] = price_entry
#             dff['price_exit'] = price_exit
#             dff['order'] = order
#             print(dff)
    else:
        print(k,v, "False")

        df = pd.DataFrame()
        date = daily['date'][k:v]
        close = daily['close'][k:v]
        upperband = daily['upperband'][k:v]
        in_uptrend = daily['in_uptrend'][k:v]
        #status = "True"

        df['date'] = date
        df['close'] = close
        df['upperband'] = upperband
        df['in_uptrend'] = in_uptrend
        df['status'] = True
        #df.to_excel("name")


        df = df.reset_index()
        del df['index']
        print(df)
#         in_uptrend = df['in_uptrend']
#         date = list(df['date'])
#         flag = df['status'][0]     

#         val = 0
#         trend_set = []
#         #dict_
#         for i in range(len(in_uptrend)):
#             if i==val:
#                 status = in_uptrend[i]
#                 trend_set.append(date[i])
#             if status != in_uptrend[i]:
#                 status = in_uptrend[i]
#                 trend_set.append(date[i])

#             dict_ = {}
#             date_entry = []
#             date_exit = []
#             price_entry = []
#             price_exit = []
#             order = []
#             for i in range(0, len(trend_set),2):
#                 if i > 0:
#                     try:
#                         dict_[trend_set[i]] = trend_set[i+1] 

#                         date_entry.append(list(daily.loc[daily['date'] == datetime.date(trend_set[i].year, trend_set[i].month, trend_set[i].day)]['date'])[0])
#                         date_exit.append(daily.iloc[daily.loc[daily['date'] == datetime.date(trend_set[i+1].year, trend_set[i+1].month, trend_set[i+1].day)].index[0] - 1]['date'])

#                         price_entry.append(list(daily.loc[daily['date'] == datetime.date(trend_set[i].year, trend_set[i].month, trend_set[i].day)]['close'])[0])
#                         price_exit.append(daily.iloc[daily.loc[daily['date'] == datetime.date(trend_set[i+1].year, trend_set[i+1].month, trend_set[i+1].day)].index[0] - 1]['close'])

#                         order.append("SELL")
#                         dict_[list(daily.loc[daily['date'] == datetime.date(trend_set[i].year, trend_set[i].month, trend_set[i].day)]['close'])[0]] = daily.iloc[daily.loc[daily['date'] == datetime.date(trend_set[i+1].year, trend_set[i+1].month, trend_set[i+1].day)].index[0] - 1]['close']
#                     except:
#                         pass          

#             dff = pd.DataFrame()
#             dff['date_entry'] = date_entry
#             dff['date_exit'] = date_exit
#             dff['price_entry'] = price_entry
#             dff['price_exit'] = price_exit
#             dff['order'] = order
#             print(dff)
        
    c+=1
    #break

           date    close  upperband  in_uptrend  status
0    1996-02-11  1018.51        NaN        True    True
1    1996-02-12  1027.35        NaN        True    True
2    1996-02-13  1051.99        NaN        True    True
3    1996-02-14  1046.24        NaN        True    True
4    1996-02-15  1023.08        NaN        True    True
..          ...      ...        ...         ...     ...
134  1996-08-25  1009.04   1018.756       False    True
135  1996-08-26  1014.68   1018.756       False    True
136  1996-08-27  1027.08   1068.714        True    True
137  1996-08-28  1025.85   1076.706        True    True
138  1996-08-29  1029.00   1069.694        True    True

[139 rows x 5 columns]
224 415 False
           date    close  upperband  in_uptrend  status
0    1997-01-05   927.80    990.408        True    True
1    1997-01-06   928.80    984.833        True    True
2    1997-01-07   946.70   1005.327        True    True
3    1997-01-08   956.60   1008.420        True    True
4    1997-01-09   980.35   1034.630        True    True
..          ...      ...        ...         ...     ...
186  1997-10-12  1156.95   1221.188        True    True
187  1997-10-13  1137.90   1205.350        True    True
188  1997-10-14  1150.45   1204.575        True    True
189  1997-10-15  1168.34   1222.169        True    True
190  1997-10-16  1177.80   1236.644        True    True

[191 rows x 5 columns]
          date    close  upperband  in_uptrend  status
0   1998-03-22  1124.09   1174.424        True    True
1   1998-03-23  1120.84   1185.002        True    True
2   1998-03-24  1146.95   1195.335        True    True
3   1998-03-25  1129.50   1202.348        True    True
4   1998-03-26  1140.34   1194.795        True    True
5   1998-03-29  1124.84   1197.533        True    True
6   1998-03-30  1116.90   1181.776        True    True
7   1998-03-31  1150.09   1198.941        True    True
8   1998-04-01  1157.40   1226.584        True    True
9   1998-04-02  1173.45   1233.314        True    True
10  1998-04-05  1187.09   1250.806        True    True
11  1998-04-06  1187.80   1258.558        True    True
12  1998-04-08  1209.59   1275.993        True    True
13  1998-04-09  1192.40   1266.158        True    True
14  1998-04-12  1159.45   1245.129        True    True
15  1998-04-14  1206.30   1264.186        True    True
16  1998-04-15  1197.05   1285.358        True    True
17  1998-04-16  1210.00   1277.743        True    True
18  1998-04-19  1207.15   1289.610        True    True
19  1998-04-20  1212.75   1288.675        True    True
20  1998-04-21  1210.80   1309.490        True    True
21  1998-04-22  1182.09   1282.240        True    True
22  1998-04-23  1173.80   1251.748        True    True
23  1998-04-26  1164.34   1257.718        True    True
24  1998-04-27  1146.80   1236.712        True    True
25  1998-04-28  1151.09   1238.845        True    True
26  1998-04-29  1159.34   1226.515        True    True
27  1998-05-03  1185.15   1251.198        True    True
28  1998-05-04  1188.09   1260.778        True    True
29  1998-05-05  1172.45   1264.153        True    True
30  1998-05-07  1161.55   1238.778        True    True
31  1998-05-10  1160.30   1226.213        True    True
32  1998-05-11  1132.25   1203.023       False    True
33  1998-05-12  1094.09   1191.173       False    True
34  1998-05-13  1118.65   1187.284       False    True
35  1998-05-14  1110.09   1187.284       False    True
716 1036 False
           date    close  upperband  in_uptrend  status
0    1999-01-03   897.80    952.545        True    True
1    1999-01-04   907.20    949.030        True    True
2    1999-01-05   928.25    974.895        True    True
3    1999-01-06   954.70   1003.510        True    True
4    1999-01-07   990.05   1042.665        True    True
..          ...      ...        ...         ...     ...
315  2000-04-02  1534.75   1685.535       False    True
316  2000-04-03  1428.10   1658.005       False    True
317  2000-04-04  1434.65   1616.920       False    True
318  2000-04-05  1452.95   1616.920       False    True
319  2000-04-06  1557.15   1616.920       False    True

[320 rows x 5 columns]
          date    close  upperband  in_uptrend  status
0   2001-02-04  1382.60   1467.190        True    True
1   2001-02-05  1387.10   1470.455        True    True
2   2001-02-06  1370.80   1463.830        True    True
3   2001-02-07  1395.50   1469.560        True    True
4   2001-02-08  1405.70   1494.590        True    True
5   2001-02-11  1402.20   1483.945        True    True
6   2001-02-12  1391.20   1472.260        True    True
7   2001-02-13  1393.35   1457.680        True    True
8   2001-02-14  1416.70   1474.885        True    True
9   2001-02-15  1381.35   1472.420        True    True
10  2001-02-18  1384.80   1454.790        True    True
11  2001-02-19  1383.85   1460.520        True    True
12  2001-02-20  1370.10   1451.270        True    True
13  2001-02-21  1355.10   1428.030        True    True
14  2001-02-22  1320.45   1422.000       False    True
15  2001-02-25  1312.40   1397.865       False    True
16  2001-02-26  1295.55   1393.505       False    True
17  2001-02-27  1351.40   1393.505       False    True
18  2001-02-28  1358.05   1393.505       False    True
19  2001-03-01  1306.34   1393.505       False    True
1435 1563 False
           date    close  upperband  in_uptrend  status
0    2001-11-11  1010.90   1061.050        True    True
1    2001-11-12  1005.40   1057.610        True    True
2    2001-11-13  1015.80   1060.645        True    True
3    2001-11-14  1035.70   1075.777        True    True
4    2001-11-18  1068.15   1107.920        True    True
..          ...      ...        ...         ...     ...
123  2002-05-12  1119.65   1132.474       False    True
124  2002-05-13  1115.09   1132.474       False    True
125  2002-05-14  1107.80   1132.474       False    True
126  2002-05-15  1092.80   1132.474       False    True
127  2002-05-16  1090.65   1132.474       False    True

[128 rows x 5 columns]
          date    close  upperband  in_uptrend  status
0   2002-11-24  1026.20   1062.047        True    True
1   2002-11-25  1036.15   1073.752        True    True
2   2002-11-26  1031.09   1075.987        True    True
3   2002-11-27  1049.70   1086.080        True    True
4   2002-11-28  1050.15   1095.295        True    True
..         ...      ...        ...         ...     ...
82  2003-03-23  1013.90   1038.191       False    True
83  2003-03-24  1011.30   1038.191       False    True
84  2003-03-25  1013.85   1038.191       False    True
85  2003-03-26  1002.70   1038.191       False    True
86  2003-03-27  1000.60   1038.191       False    True

[87 rows x 5 columns]
1831 2054 False
           date    close  upperband  in_uptrend  status
0    2003-06-15  1051.80   1094.150        True    True
1    2003-06-16  1081.95   1115.870        True    True
2    2003-06-17  1086.75   1135.065        True    True
3    2003-06-18  1092.55   1136.220        True    True
4    2003-06-19  1100.25   1141.673        True    True
..          ...      ...        ...         ...     ...
218  2004-04-22  1892.45   1994.090        True    True
219  2004-04-26  1817.25   1958.880        True    True
220  2004-04-27  1816.55   1913.245        True    True
221  2004-04-28  1808.95   1900.260        True    True
222  2004-04-29  1796.10   1918.855       False    True

[223 rows x 5 columns]
           date    close  upperband  in_uptrend  status
0    2004-09-26  1717.50   1788.675        True    True
1    2004-09-27  1700.25   1779.920        True    True
2    2004-09-28  1727.95   1790.070        True    True
3    2004-09-29  1745.50   1812.150        True    True
4    2004-09-30  1775.15   1834.330        True    True
..          ...      ...        ...         ...     ...
132  2005-04-07  2031.20   2103.283       False    True
133  2005-04-10  2008.20   2103.283       False    True
134  2005-04-11  2024.95   2103.283       False    True
135  2005-04-12  2025.45   2103.283       False    True
136  2005-04-14  1956.30   2090.789       False    True

[137 rows x 5 columns]
2342 2564 False
           date    close  upperband  in_uptrend  status
0    2005-06-19  2144.35   2210.818        True    True
1    2005-06-20  2170.00   2234.448        True    True
2    2005-06-21  2187.35   2262.010        True    True
3    2005-06-22  2183.85   2262.275        True    True
4    2005-06-23  2194.35   2261.300        True    True
..          ...      ...        ...         ...     ...
217  2006-05-07  3693.15   3936.040        True    True
218  2006-05-08  3720.55   3923.160        True    True
219  2006-05-09  3754.25   3950.065        True    True
220  2006-05-10  3701.05   3937.455        True    True
221  2006-05-11  3650.05   3844.080        True    True

[222 rows x 5 columns]
          date    close  upperband  in_uptrend  status
0   2006-10-08  3567.15   3699.580        True    True
1   2006-10-09  3571.05   3710.920        True    True
2   2006-10-10  3558.55   3713.340        True    True
3   2006-10-11  3621.05   3734.005        True    True
4   2006-10-12  3676.05   3809.455        True    True
..         ...      ...        ...         ...     ...
83  2007-02-08  4187.39   4376.407        True    True
84  2007-02-11  4058.30   4309.179        True    True
85  2007-02-12  4044.55   4283.807       False    True
86  2007-02-13  4047.10   4236.437       False    True
87  2007-02-14  4146.20   4236.437       False    True

[88 rows x 5 columns]
2812 2872 False
          date    close  upperband  in_uptrend  status
0   2007-05-13  4134.30   4345.056        True    True
1   2007-05-14  4120.30   4341.721        True    True
2   2007-05-15  4170.95   4362.284        True    True
3   2007-05-16  4219.55   4411.849        True    True
4   2007-05-17  4214.50   4406.377        True    True
5   2007-05-20  4260.89   4447.345        True    True
6   2007-05-21  4278.10   4455.100        True    True
7   2007-05-22  4246.20   4459.397        True    True
8   2007-05-23  4204.89   4413.672        True    True
9   2007-05-24  4248.14   4393.054        True    True
10  2007-05-27  4256.55   4455.569        True    True
11  2007-05-28  4293.25   4460.827        True    True
12  2007-05-29  4249.64   4456.122        True    True
13  2007-05-30  4295.80   4461.830        True    True
14  2007-05-31  4297.05   4486.245        True    True
15  2007-06-03  4267.05   4504.265        True    True
16  2007-06-04  4284.64   4464.135        True    True
17  2007-06-05  4198.25   4472.703        True    True
18  2007-06-06  4179.50   4406.778        True    True
19  2007-06-07  4145.00   4373.323        True    True
20  2007-06-10  4145.60   4388.013        True    True
21  2007-06-11  4155.20   4356.590        True    True
22  2007-06-12  4113.05   4354.720       False    True
23  2007-06-13  4170.00   4354.720       False    True
24  2007-06-14  4171.45   4354.720       False    True
25  2007-06-17  4147.10   4354.720       False    True
26  2007-06-18  4214.30   4354.720       False    True
27  2007-06-19  4248.64   4354.720       False    True
28  2007-06-20  4267.39   4354.720       False    True
29  2007-06-21  4252.05   4354.720       False    True
30  2007-06-24  4259.39   4354.720       False    True
31  2007-06-25  4285.70   4354.720       False    True
32  2007-06-26  4263.95   4354.720       False    True
33  2007-06-27  4282.00   4354.720       False    True
34  2007-06-28  4318.30   4354.720       False    True
35  2007-07-01  4313.75   4354.720       False    True
36  2007-07-02  4357.55   4462.422        True    True
37  2007-07-03  4359.30   4488.722        True    True
38  2007-07-04  4353.95   4473.122        True    True
39  2007-07-05  4384.85   4506.642        True    True
40  2007-07-08  4419.39   4560.067        True    True
41  2007-07-09  4406.05   4565.915        True    True
42  2007-07-10  4387.14   4538.605        True    True
43  2007-07-11  4446.14   4589.150        True    True
44  2007-07-12  4504.55   4657.852        True    True
45  2007-07-15  4512.14   4682.162        True    True
46  2007-07-16  4496.75   4696.172        True    True
47  2007-07-17  4499.55   4662.797        True    True
48  2007-07-18  4562.10   4718.587        True    True
49  2007-07-19  4566.05   4743.287        True    True
50  2007-07-22  4619.35   4765.377        True    True
51  2007-07-23  4620.75   4805.427        True    True
52  2007-07-24  4588.70   4764.187        True    True
53  2007-07-25  4619.80   4770.167        True    True
54  2007-07-26  4445.20   4732.500       False    True
55  2007-07-29  4440.05   4678.340       False    True
56  2007-07-30  4528.85   4678.340       False    True
57  2007-07-31  4345.85   4678.340       False    True
58  2007-08-01  4356.35   4644.487       False    True
59  2007-08-02  4401.55   4644.487       False    True
          date    close  upperband  in_uptrend  status
0   2007-09-16  4494.64   4681.997        True    True
1   2007-09-17  4546.20   4691.524        True    True
2   2007-09-18  4732.35   4862.554        True    True
3   2007-09-19  4747.55   4947.752        True    True
4   2007-09-20  4837.55   5023.699        True    True
..         ...      ...        ...         ...     ...
87  2008-01-20  5208.80   5996.055       False    True
88  2008-01-21  4899.30   5668.370       False    True
89  2008-01-22  5203.39   5668.370       False    True
90  2008-01-23  5033.45   5668.370       False    True
91  2008-01-24  5383.35   5668.370       False    True

[92 rows x 5 columns]
3273 3712 False
           date    close  upperband  in_uptrend  status
0    2009-04-05  3256.60   3589.995        True    True
1    2009-04-07  3342.95   3605.050        True    True
2    2009-04-08  3342.05   3703.360        True    True
3    2009-04-12  3382.60   3728.370        True    True
4    2009-04-14  3484.15   3776.465        True    True
..          ...      ...        ...         ...     ...
434  2011-01-09  5762.85   6065.345       False    True
435  2011-01-10  5754.10   6046.370       False    True
436  2011-01-11  5863.25   6046.370       False    True
437  2011-01-12  5751.90   6046.370       False    True
438  2011-01-13  5654.55   6046.370       False    True

[439 rows x 5 columns]
          date    close  upperband  in_uptrend  status
0   2012-02-12  5390.20   5633.527        True    True
1   2012-02-13  5416.05   5626.905        True    True
2   2012-02-14  5531.95   5737.390        True    True
3   2012-02-15  5521.95   5738.815        True    True
4   2012-02-16  5564.30   5808.825        True    True
..         ...      ...        ...         ...     ...
62  2012-05-13  4907.80   5175.305       False    True
63  2012-05-14  4942.80   5175.305       False    True
64  2012-05-15  4858.25   5142.670       False    True
65  2012-05-16  4870.20   5142.670       False    True
66  2012-05-17  4891.45   5136.338       False    True

[67 rows x 5 columns]
4125 4248 False
           date    close  upperband  in_uptrend  status
0    2012-09-09  5363.45   5409.901       False    True
1    2012-09-10  5390.00   5409.901       False    True
2    2012-09-11  5431.00   5577.149        True    True
3    2012-09-12  5435.35   5581.881        True    True
4    2012-09-13  5577.65   5733.626        True    True
..          ...      ...        ...         ...     ...
118  2013-03-03  5698.50   5914.660       False    True
119  2013-03-04  5784.25   5914.660       False    True
120  2013-03-05  5818.60   5914.660       False    True
121  2013-03-06  5863.30   5914.660       False    True
122  2013-03-07  5945.70   6165.125        True    True

[123 rows x 5 columns]
          date    close  upperband  in_uptrend  status
0   2013-05-05  5971.05   6174.940        True    True
1   2013-05-06  6043.55   6229.275        True    True
2   2013-05-07  6069.30   6265.855        True    True
3   2013-05-08  6050.15   6271.630        True    True
4   2013-05-09  6094.75   6276.105        True    True
..         ...      ...        ...         ...     ...
61  2013-07-28  5831.65   6087.980       False    True
62  2013-07-29  5755.05   6034.685       False    True
63  2013-07-30  5742.00   5949.035       False    True
64  2013-07-31  5727.85   5949.035       False    True
65  2013-08-01  5677.90   5949.035       False    True

[66 rows x 5 columns]
4390 4765 False
           date    close  upperband  in_uptrend  status
0    2013-10-06  5906.15   6155.965        True    True
1    2013-10-07  5928.40   6214.845        True    True
2    2013-10-08  6007.45   6230.160        True    True
3    2013-10-09  6020.95   6277.145        True    True
4    2013-10-10  6096.20   6357.200        True    True
..          ...      ...        ...         ...     ...
370  2015-04-09  8780.35   9113.054        True    True
371  2015-04-12  8834.00   9116.662        True    True
372  2015-04-14  8750.20   9091.884        True    True
373  2015-04-15  8706.70   8996.477        True    True
374  2015-04-16  8606.00   8946.037        True    True

[375 rows x 5 columns]
           date    close  upperband  in_uptrend  status
0    2016-05-22  7731.05   8041.505        True    True
1    2016-05-23  7748.85   8004.745        True    True
2    2016-05-24  7934.90   8165.365        True    True
3    2016-05-25  8069.65   8330.135        True    True
4    2016-05-26  8156.65   8428.515        True    True
..          ...      ...        ...         ...     ...
104  2016-10-23  8708.95   8823.290       False    True
105  2016-10-24  8691.30   8823.290       False    True
106  2016-10-25  8615.25   8823.290       False    True
107  2016-10-26  8615.25   8823.290       False    True
108  2016-10-27  8638.00   8823.290       False    True

[109 rows x 5 columns]
5212 5474 False
           date     close  upperband  in_uptrend  status
0    2017-02-05   8801.05   9052.760        True    True
1    2017-02-06   8768.30   9033.175        True    True
2    2017-02-07   8769.05   9007.165        True    True
3    2017-02-08   8778.40   9014.940        True    True
4    2017-02-09   8793.55   9033.125        True    True
..          ...       ...        ...         ...     ...
257  2018-02-18  10378.40  10926.640       False    True
258  2018-02-19  10360.40  10897.420       False    True
259  2018-02-20  10397.45  10802.645       False    True
260  2018-02-21  10382.70  10750.685       False    True
261  2018-02-22  10491.05  10750.685       False    True

[262 rows x 5 columns]
          date     close  upperband  in_uptrend  status
0   2018-07-08  10852.90  11133.450        True    True
1   2018-07-09  10947.25  11225.865        True    True
2   2018-07-10  10948.30  11235.080        True    True
3   2018-07-11  11023.20  11328.280        True    True
4   2018-07-12  11018.90  11306.150        True    True
5   2018-07-15  10936.85  11232.000        True    True
6   2018-07-16  11008.05  11234.130        True    True
7   2018-07-17  10980.45  11284.480        True    True
8   2018-07-18  10957.10  11242.580        True    True
9   2018-07-19  11010.20  11260.655        True    True
10  2018-07-22  11084.75  11323.255        True    True
11  2018-07-23  11134.30  11375.425        True    True
12  2018-07-24  11132.00  11389.750        True    True
13  2018-07-25  11167.30  11389.370        True    True
14  2018-07-26  11278.35  11493.770        True    True
15  2018-07-29  11319.55  11533.740        True    True
16  2018-07-30  11356.50  11557.445        True    True
17  2018-07-31  11346.20  11579.750        True    True
18  2018-08-01  11244.70  11521.685        True    True
19  2018-08-02  11360.80  11582.810        True    True
20  2018-08-05  11387.10  11645.755        True    True
21  2018-08-06  11389.45  11644.135        True    True
22  2018-08-07  11450.00  11680.460        True    True
23  2018-08-08  11470.70  11731.000        True    True
24  2018-08-09  11429.50  11688.450        True    True
25  2018-08-12  11355.75  11619.315        True    True

56  2020-01-15  12355.50  12720.150        True    True
6062 nan False

TypeError: cannot do slice indexing on RangeIndex with these indexers [nan] of type float

In [23]:
c = 1
for k,v in daily_index_range.items():
    if (c%2!=0):
        print(k,v, "True")
        df = pd.DataFrame()
        date = daily['date'][k:v+1]
        close = daily['close'][k:v+1]
        upperband = daily['upperband'][k:v+1]
        in_uptrend = daily['in_uptrend'][k:v+1]
        status = "True"
        df['date'] = date
        df['close'] = close
        df['upperband'] = upperband
        df['in_uptrend'] = in_uptrend
        df['status'] = True
        #df.to_excel("name")
        
    else:
        print(k,v, "False")
    c+=1
    break

1 140 True

In [54]:
val = 0
trend_set = []
dict_
for i in range(len(in_uptrend)):
    if i==val:
        status = in_uptrend[i]
        trend_set.append(date[i])
    if status != in_uptrend[i]:
        status = in_uptrend[i]
        trend_set.append(date[i])

In [93]:
dict_ = {}
date_entry = []
date_exit = []
price_entry = []
price_exit = []
order = []
for i in range(0, len(trend_set),2):
    if i >0:
        try:
            dict_[trend_set[i]] = trend_set[i+1] 
            
            date_entry.append(list(daily.loc[daily['date'] == datetime.date(trend_set[i].year, trend_set[i].month, trend_set[i].day)]['date'])[0])
            date_exit.append(daily.iloc[daily.loc[daily['date'] == datetime.date(trend_set[i+1].year, trend_set[i+1].month, trend_set[i+1].day)].index[0] - 1]['date'])
            
            price_entry.append(list(daily.loc[daily['date'] == datetime.date(trend_set[i].year, trend_set[i].month, trend_set[i].day)]['close'])[0])
            price_exit.append(daily.iloc[daily.loc[daily['date'] == datetime.date(trend_set[i+1].year, trend_set[i+1].month, trend_set[i+1].day)].index[0] - 1]['close'])
            
            order.append("BUY")
            dict_[list(daily.loc[daily['date'] == datetime.date(trend_set[i].year, trend_set[i].month, trend_set[i].day)]['close'])[0]] = daily.iloc[daily.loc[daily['date'] == datetime.date(trend_set[i+1].year, trend_set[i+1].month, trend_set[i+1].day)].index[0] - 1]['close']
        except:
            pass
        #dict_[trend_set[i]] = np.nan

In [94]:
dff = pd.DataFrame()
dff['date_entry'] = date_entry
dff['date_exit'] = date_exit
dff['price_entry'] = price_entry
dff['price_exit'] = price_exit
dff['order'] = order

In [95]:
dff

   date_entry   date_exit  price_entry  price_exit order
0  1996-03-27  1996-05-08       997.32     1090.53   BUY
1  1996-06-02  1996-06-23      1108.86     1146.78   BUY

In [78]:
dict_

{1018.51: 988.62,
 997.32: 1090.53,
 1108.86: 1146.78,
 datetime.date(1996, 8, 27): nan}

In [ ]:
dict(itertools.islice(d.items(), 1,3))

In [83]:
import itertools

d = {1: 2, 3: 4, 5: 6}

dict(itertools.islice(d.items(), 1,3))

{3: 4, 5: 6}

In [56]:
df = df.reset_index()
del df['index']

in_uptrend = df['in_uptrend']
date = list(df['date'])
status = df['status'][0]

In [33]:
val = 0
trend_set = []

for i in range(len(in_uptrend)):
    if i==val:
        _status = in_uptrend[i]
        trend_set.append(date[i])
        #print(_status)
    if status != in_uptrend[i]:
        _status = in_uptrend[i]
        trend_set.append(date[i])
        print(_status)

False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False

In [38]:
val = 0
trend_set = []

for i in range(len(in_uptrend)):
    if i==val:
        status = in_uptrend[i]
        trend_set.append(date[i])
        print(status)
    if status != in_uptrend[i]:
        status = in_uptrend[i]
        trend_set.append(date[i])
        print(status)
    #ex

True
False
True
False
True
False
True

In [35]:
val = 0
trend_set = []

for i in range(len(in_uptrend)):
    if i==val:
        _status = in_uptrend[i]
        if status == _status:
            trend_set.append(date[i])
            print(_status)
    if status != in_uptrend[i]:
        _status = in_uptrend[i]
        if status == _status:
            trend_set.append(date[i])
            print(_status)

True

In [36]:
df

           date    close  upperband  in_uptrend  status
0    1996-02-11  1018.51        NaN        True    True
1    1996-02-12  1027.35        NaN        True    True
2    1996-02-13  1051.99        NaN        True    True
3    1996-02-14  1046.24        NaN        True    True
4    1996-02-15  1023.08        NaN        True    True
..          ...      ...        ...         ...     ...
135  1996-08-26  1014.68   1018.756       False    True
136  1996-08-27  1027.08   1068.714        True    True
137  1996-08-28  1025.85   1076.706        True    True
138  1996-08-29  1029.00   1069.694        True    True
139  1996-09-01  1036.95   1072.008        True    True

[140 rows x 5 columns]

In [37]:
for i in range(len(in_uptrend)):
    try:
        if i == val:
            trend_set.append(date[i])
            status = in_uptrend[i]
            print(status)
            #print(trend_set)
            #_status.append(status)
        if status != in_uptrend[i]:
            print(status)
            #print(trend_set)
            trend_set.append(date[i])
            status = in_uptrend[i]
    except:
        pass

True
True
False
True
False
True
False

In [19]:



for i in range(len(in_uptrend)):
    try:
        if i == val:
            trend_set.append(date[i])
            status = in_uptrend[i]
            print(status)
            #print(trend_set)
            #_status.append(status)
        if status != in_uptrend[i]:
            print(status)
            #print(trend_set)
            trend_set.append(date[i])
            status = in_uptrend[i]
    except:
        pass

True
True
False
True
False
True
False

In [4]:
in_uptrend = df['in_uptrend']

In [9]:
# df['in_uptrend'].value_counts()

In [10]:
date = list(df['date'])
val = 0
trend_set = []
#_status = []
for i in range(len(in_uptrend)):
    try:
        if i == val:
            trend_set.append(date[i])
            status = in_uptrend[i]
            print(status)
            #print(trend_set)
            #_status.append(status)
        if status != in_uptrend[i]:
            print(status)
            #print(trend_set)
            trend_set.append(date[i])
            status = in_uptrend[i]
    except:
        pass

True
True
False
True
False
True
False
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [7]:
trend_set

[datetime.date(1996, 2, 11),
 datetime.date(1996, 2, 12),
 datetime.date(1996, 3, 11),
 datetime.date(1996, 3, 28),
 datetime.date(1996, 5, 12),
 datetime.date(1996, 6, 3),
 datetime.date(1996, 6, 25),
 datetime.date(1996, 8, 28)]

In [8]:
date = daily['date']
close = daily['close']
upperband = daily['upperband']
in_uptrend = daily['in_uptrend']

In [26]:
len(daily_index_range)

24

In [27]:
len(_status)

47

In [28]:

        #print(k,v)
        #pass
        #daily_index_range[daily.loc[daily['date'] == datetime.date(k.year, k.month, k.day)].index[0]] = np.nan

2020-07-18 nan

,date,open,high,low,close,previous_close,high-low,high-pc,low-pc,tr,atr,upperband,lowerband,in_uptrend
5144,2016-10-29,8672.35,8678.25,8616.25,8625.7,8638.0,62.0,40.25,21.75,62.0,76.7,8823.29,8417.15,False

In [18]:
#daily
for k,v in dict_.items():
    try:
        print(daily.loc[daily['date'] == datetime.date(k.year, k.month, k.day)].index[0], daily.loc[daily['date'] == datetime.date(v.year, v.month, v.day)].index[0])
    except:
        print(k,v)

1 140
224 415
519 555
716 1036
1243 1263
1435 1563
1692 1779
1831 2054
2159 2296
2342 2564
2668 2756
2812 2872
2901 2993
3273 3712
3979 4046
4125 4248
4283 4349
4390 4765
2016-05-22 2016-10-30
5212 5474
5565 5612
5730 5819
2019-10-27 2020-01-19
2020-07-19 nan

In [23]:
trend_set[1] - timedelta(days=1)

datetime.date(1996, 9, 7)

In [5]:
daily

                           date      open      high       low     close
0     1996-02-09 00:00:00+05:30   1001.85   1033.02    980.27   1033.02
1     1996-02-12 00:00:00+05:30   1032.47   1045.81   1018.51   1018.51
2     1996-02-13 00:00:00+05:30   1019.69   1030.30   1006.28   1027.35
3     1996-02-14 00:00:00+05:30   1040.91   1067.49   1040.91   1051.99
4     1996-02-15 00:00:00+05:30   1048.14   1053.19   1042.35   1046.24
...                         ...       ...       ...       ...       ...
6417  2021-12-20 00:00:00+05:30  16824.25  16840.10  16410.20  16614.20
6418  2021-12-21 00:00:00+05:30  16773.15  16936.40  16688.25  16770.85
6419  2021-12-22 00:00:00+05:30  16865.55  16971.00  16819.50  16955.45
6420  2021-12-23 00:00:00+05:30  17066.80  17118.65  17015.55  17072.60
6421  2021-12-24 00:00:00+05:30  17149.50  17151.45  16910.20  16999.90

[6422 rows x 5 columns]

1996-02-11
1996-09-08
1997-01-05
1997-10-26
1998-03-22
1998-05-24
1999-01-03
2000-04-16
2001-02-04
2001-03-11
2001-11-11
2002-05-26
2002-11-24
2003-04-06
2003-06-15
2004-05-09
2004-09-26
2005-04-24
2005-06-19
2006-05-21
2006-10-08
2007-02-25
2007-05-13
2007-08-12
2007-09-16
2008-02-03
2009-04-05
2011-01-23
2012-02-12
2012-05-27
2012-09-09
2013-03-17
2013-05-05
2013-08-11
2013-10-06
2015-04-26
2016-05-22
2016-11-06
2017-02-05
2018-03-04
2018-07-08
2018-09-23
2019-03-10
2019-07-28
2019-10-27
2020-01-26
2020-07-19